 @import url('https://fonts.googleapis.com/css2?family=Lato&family=Unbounded:wght@200;700&display=swap');




body{
    background-color: rgb(23, 12, 35);
    max-width: 100%;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 110px;
    margin-right: 190px;
    border: none;
    border-radius: 50px;
   
}



article{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 45px;
    
    
}

article span {
   color: rgba(2, 112, 163, 0.945);
}

article h1{
    color: rgb(0, 255, 128);
    line-height: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;

}


.img{
    width: 550px;
    margin-top: 40px;  
}
img{
    width: 100%;
}

aside{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    
}


aside form{
    background-color: rgb(38, 24, 52);
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: 20px;
    border-radius: 30px;
    
}

aside h1 {
    
    color:rgb(0, 255, 128); 
    text-align: center;
    font-family: 'Lato', sans-serif;
    
}

aside .usuario{
    width:350px;
    margin-left: 50px;
    background-color: rgb(82, 68, 115);
    border: 2px solid rgb(0, 255, 128);
    padding: 20px;
    border-radius:20px;
    margin-bottom:20px;

}



aside .senha{
    width:350px;
    margin-left: 50px;
    background-color: rgb(82, 68, 115);
    border: 2px solid rgb(0, 255, 128);
    padding: 20px;
    border-radius: 20px;
    margin: top 30px;
}


aside button{
    width:390px;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 20px;
    padding:20px;
    border-left: 40px;
    border:none;
    background-color: rgb(0, 255, 128);
    cursor: pointer;
    
}

:hover{
    color:rgb(3, 138, 156);
}